<div class="card">
  <div class="container">
    <div class="row">
      <p>
        Client Maintenance Header for {{clientKey}}
      </p>
    </div>
    <div *ngIf="clientKey > 0" class="row">
      <div class="col">
        <app-client-breadcrumb></app-client-breadcrumb>
      </div>
      <div class="col">
        <app-create-referral></app-create-referral>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-client-nav></app-client-nav>
      </div>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
